.dice-game-container {
    width: 85%;
    margin-top: 2%;
    background-color: rgb(255, 255, 255);
    
}

.gameName {
    margin-top: 50px;
    margin-bottom: 50px;
}

.turn {
    width: 130px;
    height: 40px;
    font-size: 15px;
    padding-top: 12px;
}

.dices{
    margin-top: 50px;
}

.rollTheDicesButton {
    width: 200px;
    margin-top: 50px;
}

.chooseFigureButton {
    width: 200px;
    margin-top: 50px;
    margin-left: 70px;
}
