.dice-game-container {

    /* margin-top: 50px; */
    padding: 5%;
    margin: auto;
    background-color: white
    
}

.gameName {
    font-size: xx-large;
    margin-bottom: 50px;
    float: left;
    width: auto;
}

.turnInfoDiv {
    font-size: medium;
    padding: 25px;
    margin-right: 50px;
    float: right;
    border: 10px;
}

.turn {
    color: #6c757d;;
}

.numberOfRoll{
    color: #6c757d;;
    margin-top: 5px;
}

.buttonsDiv {
    
}

.rollTheDicesButton {
    width: 200px;
    height: 60px;
    margin-top: 50px;
    margin-right: 70px;
}

.chooseFigureButton {
    width: 200px;
    height: 60px;
    margin-top: 50px;
}

.dices{
    margin-top: 50px;
    clear: both
}
