.mainContainer {
  margin: auto;
  padding-top: 50px;
}

.dice-game-container {
  /* margin-top: 50px; */
  padding: 5%;
  margin: auto;
  background-color: white;
}

.gameName {
  font-size: xx-large;
  margin-bottom: 50px;
  float: left;
  width: auto;
}

.hide {
  display: none;
}

.dices {
  margin-top: 50px;
  clear: both;
}
