.logo {
    height: 60px;
}

img {
    height: 100%;
    width: auto;
}

.nav {
    margin-top: 5px;
}

.navLink {
    text-align: center;
    font-size: x-large;
}

.userBar {
    width: 150px;
    height: 60px;
    padding-right: 50px;
}

.userBarBtn {
    font-size: large;
    margin-top: 8px;
}