.logo {
    height: 60px;
}

img {
    height: 100%;
    width: auto;
}

.nav {
    margin-top: 5px;
}

.navLink {
    text-align: center;
    font-size: x-large;
}

.userBar {
    margin-top: 5px;
    margin-left: 65%;
}