.mainContainer {
    margin-left: 10%;
    margin-top: 50px;
}
.gameNameForm {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.user {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
    max-width: 200px;
    text-align: 10px;
}

.createGameBtn {
    margin-top: 50px;
    width: 200px;
}